<section class="content-panel">
<div class="container">
<div class="row">
<div class="col-xs-12 text-center padbottom">
<h2>Maker Faire Orlando Wants You!</h2>
</div>
</div>
<div class="row">
<div class="col-sm-3"></div>
<div class="col-sm-6 text-center">
<a href="exhibit-at-maker-faire-orlando"><img class="aligncenter size-full " src="assets/images/site-branding/call-for-makers.png" alt="Call for Makers" width="340" height="340"></a><p></p>
<p style="margin: 20px 30px 5px 30px">Maker Faire Orlando can’t happen without Makers! We need people willing to share the things they create and their passion for making. Join us and help inspire our community.</p>
<p style="margin: 5px 30px 5px 30px;font-weight: bold;text-align: center"><a href="exhibit-at-maker-faire-orlando">Our Call for Makers is open now!</a></p>
</div>
</div>
</div>
<div class="flag-banner"></div>
</section>
