<section class="featured-maker-panel">
  <div class="container">
    <div class="row text-center">
      <div class="title-w-border-y">
        <h2>Featured Makers</h2>
      </div>
    </div>



  <div class="row padbottom">
    {%- for exhibit in site.data.featured-exhibits.homepage -%}
        {%- assign f = site.exhibits | where: "exhibit-id", exhibit.exhibit-id -%}
        {%- if exhibit.image -%}
          {%- assign i = exhibit.image -%}
        {%- else -%}
          {%- assign i = f[0].image-primary.medium -%}
        {%- endif -%}

        {%- if exhibit.title -%}
          {%- assign t = exhibit.title -%}
        {%- else -%}
          {%- assign t = f[0].title -%}
        {%- endif -%}

        {%- if exhibit.description -%}
          {%- assign d = exhibit.description -%}
        {%- else -%}
          {%- assign d = f[0].description -%}
        {%- endif -%}

        {%- if exhibit.url -%}
          {%- assign u = exhibit.url -%}
        {%- else -%}
          {%- assign u = f[0].url -%}
        {%- endif -%}

        <a href="{{ u }}">
          <div class="featured-maker col-xs-6 col-sm-3">
            <div class="maker-img" style="background-image: url({{ i }});"></div>
            <div class="maker-panel-text">
              <h4>{{ t }}</h4>
              <p class="hidden-xs">{{ d }}</p>
            </div>
          </div>
        </a>
    {%- endfor -%}
  </div>
  <div class="row padbottom">
    <div class="col-xs-12 padbottom text-center">
      <a class="btn btn-w-ghost" href="/makers/">More Makers</a>
    </div>
  </div>
</div>

<div class="flag-banner"></div></section>
