{% comment %}
  Uses _data/menus.yaml to build the footer menu

  I purposely duplicated the code for the two sides of the footer
  with Maker Faire Orlando and Maker Faire in the event
  we wanted to differentiate them later.

  Old way of doing selection, I wanted to get away from using the hardcoded event name
    {% assign mfo = site.data.menus.footernav
      | where_exp:"footernav", "footernav.title == 'Maker Faire Orlando'"
      | first %}

    {% assign mf = site.data.menus.footernav
        | where_exp:"footernav", "footernav.title == 'Maker Faire'"
        | first %}

{% endcomment %}


{% assign mfo = site.data.menus.footernav.first %}
{% assign mf =  site.data.menus.footernav.last %}


<footer class="gmf-footer">
  <div class="container">
    <div class="row padbottom">
      <div class="col-sm-6 footer-right-border">
        <div class="footer-logo-div">
          <a href="/">
            <img class="img-responsive footer-logos footer-local-logo" src="{{ mfo.image | relative_url }}" alt="{{ mfo.imagealt }}"></a>
        </div>
  	    <div class="menu-footer-left-container">
          <ul id="menu-footer-menu" class="list-unstyled">
            {% for item in mfo.subfolderitems %}
                  <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{{ item.url }}">{{ item.page }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="social-network-container">
          <ul class="social-network social-circle">
            {% for item in mfo.socialitems %}
            <li><a href="{{item.url}}" title="{{mfo.title}} on {{item.title}}" target="_blank"><i class="{{item.icon}}"></i></a></li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="col-sm-6 footer-right hidden-xs">
        <div class="footer-logo-div">
          <a href="https://makerfaire.com/" target="_blank">
            <img class="img-responsive footer-logos" src="{{ mf.image }}" alt="{{ mf.imagealt }}"></a>
        </div>
          <div class="row">
            <div class="col-xs-6">
              <ul class="list-unstyled">
                {% for item in mf.subfolderitems %}
                      <li  class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{{ item.url }}">{{ item.page }}</a></li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-xs-6 footer-no-rt-pad">
            </div>
          </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="social-network-container">
                  <ul class="social-network social-circle">
                    {% for item in mf.socialitems %}
                    <li><a href="{{item.url}}" title="{{mf.title}} on {{item.title}}" target="_blank"><i class="{{item.icon}}"></i></a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% include footer-notices.html %}
      </div>
    <div>
  </div>
</footer>
