
<!-- Navigation -->
<nav class="navbar navbar-default nav-not-home" role="navigation" id="slide-nav">
    <div class="container text-center nav-flex">
      <div class="navbar-header">
        <a class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        	</a>
        <a href="{{ '/' | relative_url }}">
        <img class="header-logo" src="{{ '/assets/images/site-branding/mfo_two_line_border.png' | relative_url }}" alt="Maker Faire Orlando">
        </a>
      </div>

      <div id="nav-not-home-logo">
        <a href="{{ '/' | relative_url }}">
         <img src="{{ '/assets/images/site-branding/mfo_two_line_border.png' | relative_url }}" alt="Maker Faire Orlando">
        </a>
      </div>


		<div id="slidemenu" class="menu-header-menu-container">
      <ul id="menu-header-menu" class="nav navbar-nav">


        {% for item in site.data.menus.topnav %}
          {% if item.subfolderitems %}
            <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  dropdown"><a title="{{ item.title }}" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">{{ item.title }} <span class="caret"></span></a>
            {% else %}
              <li><a href="{{ item.url }}">{{ item.title }}</a>
          {% endif %}
            <ul role="menu" class=" dropdown-menu">
                {% for entry in item.subfolderitems %}
                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement"  class="menu-item menu-item-type-post_type menu-item-object-page "><a title="{{ entry.page }}" href="{{ entry.url }}">{{ entry.page }}</a></li>
                {% endfor %}
            </ul>
          </li>
          {% endfor %}

      </ul>
    </div>

      <div id="header-cta-button">
      	<a class="btn btn-primary" href="{{site.data.cta.topnav.url}}">{{site.data.cta.topnav.text}}</a></div>
      </div>
  </nav>
