
<!-- Navigation -->
<nav class="navbar navbar-default nav-not-home" role="navigation" id="slide-nav">
    <div class="container text-center nav-flex">
      <div class="navbar-header">
        <a class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        	</a>
        <a href="/">
        <img class="header-logo" src="{{site.url}}/assets/images/site-branding/mfo_two_line_border.png" alt="Maker Faire Orlando">
        </a>
      </div>

      <div id="nav-not-home-logo">
        <a href="/">
         <img src="{{site.url}}/assets/images/site-branding/mfo_two_line_border.png" alt="Maker Faire Orlando">
        </a>
      </div>


		<div id="slidemenu" class="menu-header-menu-container"><ul id="menu-header-menu" class="nav navbar-nav"><li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-19222" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-19222 dropdown"><a title="About" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">About <span class="caret"></span></a>
<ul role="menu" class=" dropdown-menu">
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-19224" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19224"><a title="What is Maker Faire?" href="about/">What is Maker Faire?</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-19223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19223"><a title="Media" href="media/">Media</a></li>
</ul>
</li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-21405" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-21405 dropdown"><a title="Things to See &amp; Do" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Things to See &amp; Do <span class="caret"></span></a>
<ul role="menu" class=" dropdown-menu">
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-18706" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18706"><a title="Makers &amp; Exhibits" href="makers/"><i class="fa Makers &amp; Exhibits" aria-hidden="true"></i>&nbsp;Makers &amp; Exhibits</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-29661" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29661"><a title="Event Schedule" href="schedule/">Event Schedule</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-22497" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22497"><a title="Hands-On Workshops" href="makers/?category=workshop">Hands-On Workshops</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-21406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21406"><a title="Combat Robots" href="combat-robots/">Combat Robots</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-21409" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21409"><a title="Power Racing" href="power-racing/">Power Racing</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-21408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21408"><a title="Nerdy Derby" href="nerdy-derby/">Nerdy Derby</a></li>
</ul>
</li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-18712" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-18712 dropdown"><a title="Participate" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"><i class="fa Participate" aria-hidden="true"></i>&nbsp;Get Involved <span class="caret"></span></a>
<ul role="menu" class=" dropdown-menu">
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-18713" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18713"><a title="Exhibit at MakerFaire Orlando" href="exhibit-at-maker-faire-orlando/">Exhibit at MakerFaire Orlando</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-18708" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18708"><a title="Volunteer" href="volunteers/">Volunteer</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-25572" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-25572"><a title="Become a Sponsor" href="become-a-sponsor/">Become a Sponsor</a></li>
</ul>
</li>
<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-20305" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-20305 dropdown"><a title="Attend" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true">Attend <span class="caret"></span></a>
<ul role="menu" class=" dropdown-menu">
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-18707" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18707"><a title="Tickets &amp; Info" href="attend/">Tickets &amp; Info</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-26516" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26516"><a title="Homeschool Educators" href="homeschool/">Homeschool Educators</a></li>
	<li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-20304" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20304"><a title="School Educators" href="educators/">School Educators</a></li>
</ul>
</li>
<li><a href="/web/20190826044659/https://www.makerfaireorlando.com/wp-login/">Maker Login</a></li></ul></div>
 <div id="header-cta-button">
	<a class="btn btn-primary" href="{{site.cta_nav_button_url}}">{{site.cta_nav_button_text}}</a></div>
    </div>
  </nav>
