<!DOCTYPE html>
<html>
<head>
    {% include head.html %}
</head>
<body>


<div class="flag-banner header-flag"></div>
{% include topnav.html %}
<div id="page_content">
  <div id="page-body"
    {% if page.carousel %}
      {% include carousel.html %}
    {% else %}
      <div style = "padding-bottom:20px;"></div>
    {% endif %}
    <div class="container">
    {{ content }}
    </div>
  </div>
</div>
<div style = "padding-bottom:20px;"></div>

{% include cta-panel-widget.html cta_text=site.cta_footer_text cta_url=site.cta_footer_url %}
{% include footer.html %}
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}



</html>
