<!DOCTYPE html>
<html>

{% include head.html %}
<body>


<div class="flag-banner header-flag"></div>
{% include topnav.html %}
<div id="page_content">
  <div id="page-body"
    <div class="container">
    <!- last-modifed-db: {{page.last-modified-db}}->
    <!- last-exported:   {{page.last-exported}}->

    <h1>{{page.name}}</h1>
    <div>
      <img class="img-responsive entry-image" src="{{page.image-primary.large}}" alt="{{page.name}}">
      <p class="lead">{{page.description}}</p>
      <div class="entry-categories" style="margin-bottom: 10px">
        <b>Categories: </b>
        {%- for category in page.categories -%}
        {%- if category.name -%}
        {%- if forloop.first == false %},&nbsp{%- endif -%}
        <a href="/makers?category={{-category.slug-}}">{{- category.name -}}</a>
        {%- endif -%}{%- endfor -%}
      </div>
      <div class="row exhibit-social-row">
        {% if page.website %}
	       <div class="col-md-2 pull-left"><a href="{{page.website}}" class="btn btn-info" target="_blank">Project Website</a></div>
        {% endif %}
           <div class="col-md-5">
             <ul class="list-inline">
               {% if page.email %}
				           <li><a href="mailto:{{page.email}}" target="_blank" <i="" class="fa fa-2x fa-envelope" aria-hidden="true"></a></li>
               {% endif %}
               {% if page.twitter %}
                <li><a href="{{page.twitter}}" target="_blank" <i="" class="fa fa-2x fa-twitter" aria-hidden="true"></a></li>
               {% endif %}
               {% if page.instagram %}
               <li><a href="{{page.instagram}}" target="_blank" <i="" class="fa fa-2x fa-instagram" aria-hidden="true"></a></li>
               {% endif %}
               {% if page.facebook %}
                <li><a href="{{page.facebook}}" target="_blank" <i="" class="fa fa-2x fa-facebook" aria-hidden="true"></a></li>
               {% endif %}
               {% if page.youtube %}
                <li><a href="{{page.youtube}}" target="_blank" <i="" class="fa fa-2x fa-youtube" aria-hidden="true"></a></li>
               {% endif %}
            </ul>
          </div>
        </div>
    </div>



    <h2>Maker</h2><hr>
      <div class="row center-block maker-profile-row">
        <img class="col-md-3 pull-left img-responsive" src="{{page.maker.image-primary}}" alt="{{page.maker.name}}">
        <div class="col-md-7">
          <h3>{{page.maker.name}}</h3>
              {{page.maker.description}}
        </div>
      </div>

    </div>

    <div style="margin-top:20px;margin-bottom:20px;height:15px;background-color:#00597E"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <a href="/makers"><img class="aligncenter size-full" src="/assets/images/site-branding/explore-the-exhibits.png"></a>
        </div>
        <div class="col-sm-6">
          <a href="/makers"><img class="aligncenter size-full" src="/assets/images/site-branding/meet-the-makers.png"></a>
        </div>
      </div>
    </div>

  </div>
</div>
<div style = "padding-bottom:20px;"></div>


{% include footer.html %}
{% include scripts.html %}

{% if page.carousel %}
  <script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
      $('#myCarousel').carousel({
        interval: {{page.carousel-delay}}
      })
    });
  </script>
{% endif %}

{% if sponsor-carousel %}
  <script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
      $('#carousel-sponsors-slider').carousel({
        interval: {{page.carousel-delay}}
      })
    });
  </script>
{% endif %}


</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}



</html>
