<!DOCTYPE html>
<html>

{% include head.html %}
<body>


<div class="flag-banner header-flag"></div>
{% include topnav.html %}
<div id="page_content">
  <div id="page-body">
    <div class="container" id="exhibit-{{page.exhibit-id}}">
    <!- created-jotform: {{page.created-jotform}}->
    <!- last-modifed-jotform: {{page.last-modified-jotform}}->
    <!- last-exported:   {{page.last-exported}}->

    <h1>{{page.title}}</h1>
    <div>
      <img class="img-responsive entry-image" src="{{page.image-primary.large}}" alt="{{page.name}}">
      <p class="lead">{{page.description-long | newline_to_br}}</p>

      {% if page.website %}
      <p><a href="{{page.website}}" class="btn btn-info" target="_blank">Learn More</a></p>
      {% endif %}


      <div class="entry-categories" style="margin-bottom: 10px">
        <b>Categories: </b>
        {%- for category in page.categories -%}
        {%- if category.name -%}
        {%- if forloop.first == false %},&nbsp{%- endif -%}
        <a href="/makers/?category={{-category.slug-}}">{{- category.name -}}</a>
        {%- endif -%}{%- endfor -%}
      </div>

    </div>


    {% if page.video-embed %}
    <section class="exhibitVideo" style="margin-top:30px; margin-bottom:30px">
        {{page.video-embed}}
    </section>
    {% endif %}


      <section class="exhibitPhotos" style="margin-top:30px; margin-bottom:30px">
					<div id="exhibitPhotoCarousel" class="carousel slide" data-ride="carousel">
            {%- assign numImages = page.additional-images | size -%}
            {%-if numImages > 1 -%}
    					<!-- Indicators -->
    					<ol class="carousel-indicators">
                {%- for image in page.additional-images -%}
                    {%- if forloop.first -%}
    					       <li data-target="exhibitPhotoCarousel" data-slide-to="0" class="active"></li>
                     {%- else -%}
                     <li data-target="exhibitPhotoCarousel" data-slide-to="{{forloop.index | minus: 1}}"></li>
                     {%- endif -%}
                   {%- endfor -%}
            	</ol>
            {%- endif -%}
					<!-- Wrapper for slides -->
  					<div class="carousel-inner">
              {%- for image in page.additional-images -%}
                  {%- if forloop.first -%}
					          <div class="item active">
                  {%- else -%}
                    <div class="item">
                  {%- endif -%}
                     <img src="{{image.large}}">
                   </div>
              {%- endfor -%}

          {%-if numImages > 1 -%}
  					<!-- Left and right controls -->
   					<a class="left carousel-control" href="#exhibitPhotoCarousel" data-slide="prev">
      					<span class="glyphicon glyphicon-chevron-left" style="color:gray"></span>
      					<span class="sr-only">Previous</span>
    					</a>
    					<a class="right carousel-control" href="#exhibitPhotoCarousel" data-slide="next">
      					<span class="glyphicon glyphicon-chevron-right" style="color:gray"></span>
      					<span class="sr-only">Next</span>
    					</a>
           {%- endif -%}
					</div>
        </div>
      </section>


    <h2>Maker</h2><hr>
      <div class="row center-block maker-profile-row">
        <img class="col-md-3 pull-left img-responsive" src="{{page.maker.image-primary}}" alt="{{page.maker.name}}">
        <div class="col-md-7">
          <h3>{{page.maker.name}}</h3>
              {{page.maker.description}}
              <div class="row exhibit-social-row">
                {% if page.maker.website %}
                 <div class="col-md-4 pull-left"><a href="{{page.maker.website}}" class="btn btn-info" target="_blank">Learn More</a></div>
                {% endif %}
                   <div class="col-md-5">
                     <ul class="list-inline">
                       {% if page.maker.twitter %}
                        <li><a href="{{page.maker.twitter}}" target="_blank" <i="" class="fa fa-2x fa-twitter" aria-hidden="true"></a></li>
                       {% endif %}
                       {% if page.maker.instagram %}
                       <li><a href="{{page.maker.instagram}}" target="_blank" <i="" class="fa fa-2x fa-instagram" aria-hidden="true"></a></li>
                       {% endif %}
                       {% if page.maker.facebook %}
                        <li><a href="{{page.maker.facebook}}" target="_blank" <i="" class="fa fa-2x fa-facebook" aria-hidden="true"></a></li>
                       {% endif %}
                       {% if page.maker.youtube %}
                        <li><a href="{{page.maker.youtube}}" target="_blank" <i="" class="fa fa-2x fa-youtube" aria-hidden="true"></a></li>
                       {% endif %}
                    </ul>
                  </div>
                </div>



        </div>
      </div>

    </div>

    <div style="margin-top:20px;margin-bottom:20px;height:15px;background-color:#00597E"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <a href="/makers/"><img class="aligncenter size-full" src="/assets/images/site-branding/explore-the-exhibits.png"></a>
        </div>
        <div class="col-sm-6">
          <a href="/makers/"><img class="aligncenter size-full" src="/assets/images/site-branding/meet-the-makers.png"></a>
        </div>
      </div>
    </div>

  </div>
</div>
<div style = "padding-bottom:20px;"></div>


{% include footer.html %}
{% include scripts.html %}
{% include optional-js.html %}


</body>




</html>
