<!DOCTYPE html>
<html>

{% include head.html %}
<body>


<div class="flag-banner header-flag"></div>
{% include topnav.html %}
<div id="page_content">
  <div id="page-body"
    {% if page.carousel %}
      {% include carousel.html %}
    {% else %}
      <div style = "padding-bottom:20px;"></div>
    {% endif %}
    {{ content }}
  </div>
</div>
<div style = "padding-bottom:20px;"></div>

{% include footer.html %}
{% include scripts.html %}

{% if page.carousel %}
  <script language="JavaScript" type="text/javascript">
    $(document).ready(function(){
      $('#myCarousel').carousel({
        interval: {{page.carousel-delay}}
      })
    });
  </script>
{% endif %}
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}



</html>
